{% extends "board/base.html" %}

{% block content %}
    <h3 class="mb-4">Sign in</h3>


    <form method="post" action="{% url 'board:signin' %}">
    {% csrf_token %}
        <div class="text-danger">
            <p>{{ form.non_field_errors }}</p>
        </div>

        <div class="signin-form">
        {% for field in form %}
            <div class="row text-danger">
                {{ field.errors }}
            </div>
            <div class="form-group row ml-3 mb-3">

                <div class="col-md-4">
                    {{ field.label }}
                </div>
                <div class="col">
                    {{ field }}
                </div>

            </div>
        {% endfor %}
        </div>


        <input class="btn btn-primary my-4 ml-4 w-25" type="submit" value="Sign in">
    </form>

    <a href="{% url 'board:home' %}" class="my-3">Back</a>


{% endblock %}